Repository neurostuff/NiMARE, pull requests merged in 2022-07, with the labels that each got.

#725 Use sparse array in ALE, ALESubtraction, SCALE, KDA, and MKDADensity
  nimare/generate.py
  nimare/meta/cbma/ale.py
  nimare/meta/cbma/base.py
  nimare/meta/cbma/mkda.py
  nimare/meta/kernel.py
  nimare/meta/utils.py
  nimare/tests/test_meta_ale.py
  nimare/tests/utils.py
  nimare/utils.py
Labels: enhancement, cbma

#644 Remove Peaks2Maps from NiMARE
  docs/api.rst
  docs/cli.rst
  docs/links.rst
  examples/02_meta-analyses/10_peaks2maps.py
  nimare/cli.py
  nimare/extract/__init__.py
  nimare/extract/extract.py
  nimare/meta/kernel.py
  nimare/meta/utils.py
  nimare/workflows/__init__.py
  nimare/workflows/peaks2maps.py
  setup.cfg
Labels: breaking-change

#735 Shift centers of mass into clusters in Jackknife/FocusCounter
  docs/conf.py
  examples/misc-notebooks/save_nidm_to_dset.ipynb
  nimare/diagnostics.py
  nimare/meta/cbma/base.py
  nimare/meta/cbma/mkda.py
  nimare/meta/utils.py
  nimare/tests/test_meta_kernel.py
  nimare/transforms.py
  nimare/utils.py
Labels: bug, diagnostics

#736 Remove duecredit in favor of BibTeX references
  .codecov.yml
  nimare/annotate/cogat.py
  nimare/annotate/gclda.py
  nimare/annotate/lda.py
  nimare/decode/continuous.py
  nimare/decode/discrete.py
  nimare/decode/encode.py
  nimare/due.py
  nimare/meta/cbma/ale.py
  nimare/meta/cbma/mkda.py
  nimare/meta/kernel.py
  nimare/meta/utils.py
  nimare/references.py
  nimare/transforms.py
  nimare/utils.py
  pyproject.toml
  setup.cfg
Labels: breaking-change, maintenance

#734 Add `tables` attribute to MetaResult class
  nimare/base.py
  nimare/correct.py
  nimare/meta/cbma/ale.py
  nimare/meta/cbma/base.py
  nimare/meta/cbma/mkda.py
  nimare/meta/ibma.py
  nimare/results.py
  nimare/workflows/conperm.py
Labels: enhancement, ibma, cbma

#732 Add FocusFilter class for removing coordinates outside of a mask
  docs/api.rst
  nimare/diagnostics.py
  nimare/tests/test_diagnostics.py
Labels: enhancement, diagnostics
