Repository neurostuff/NiMARE, pull requests merged in 2023-03, with the labels that each got.

#765 Support clusters table in Diagnostics
  examples/02_meta-analyses/08_plot_cbma_subtraction_conjunction.py
  nimare/diagnostics.py
  nimare/tests/test_diagnostics.py
  nimare/utils.py
  nimare/workflows/ale.py
  setup.cfg
Labels: enhancement, breaking-change

#724 Incorporate Estimator and Corrector descriptions into MetaResult objects
  docs/conf.py
  examples/02_meta-analyses/01_plot_cbma.py
  examples/02_meta-analyses/02_plot_ibma.py
  examples/02_meta-analyses/04_plot_estimators.py
  examples/02_meta-analyses/05_plot_correctors.py
  nimare/base.py
  nimare/correct.py
  nimare/dataset.py
  nimare/estimator.py
  nimare/meta/cbma/ale.py
  nimare/meta/cbma/base.py
  nimare/meta/cbma/mkda.py
  nimare/meta/ibma.py
  nimare/meta/kernel.py
  nimare/resources/references.bib
  nimare/results.py
  nimare/tests/test_meta_ale.py
  nimare/tests/test_meta_ibma.py
  nimare/tests/test_meta_mkda.py
  nimare/utils.py
  nimare/workflows/ale.py
  nimare/workflows/macm.py
Labels: enhancement, ibma, cbma, correct

#776 Major refactoring of Diagnostics module
  nimare/diagnostics.py
  nimare/tests/test_diagnostics.py
  setup.cfg
Labels: refactoring, diagnostics

#777 Add `cluster_threshold` option to Diagnostics
  nimare/diagnostics.py
Labels: enhancement, diagnostics
